In [79]:
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.point import Point

In [3]:
df = pd.read_csv("small-business-improvement-fund-sbif-grant-agreements.csv")

In [4]:
len(df)

2267

In [5]:
df.head()

,Company,Address,TIF District,Completion Date,Actual Costs,Actual Grant,Work Items
0,Damen Lake Property LLC (Standard Equipment Co),2033 W Walnut,Kinzie Industrial Corridor Industrial Corridor,2001-02-01T00:00:00.000,83013.00,41506.50,"Truck dock, Skylights, Roof"
1,Northern Greenhouses Inc,1756 W Lake,Kinzie Industrial Corridor Industrial Corridor,2001-02-08T00:00:00.000,125000.00,50000.00,New Roof
2,Roger Berman Co,832 W Fulton Market,Kinzie Industrial Corridor Industrial Corridor,2001-10-02T00:00:00.000,98336.70,49168.35,HVAC / Elevator renovate / tuckpointing.
3,Moylan Insurance Agency,3301-05 W 111th,111th/Kedzie,2001-10-18T00:00:00.000,21718.75,10859.38,Roof / Sign removal / Awnings
4,Mt Greenwood Local Redevelopment Corp,3255-3257 W 111th,111th/Kedzie,2001-11-08T00:00:00.000,33149.75,16574.87,Window-Door Replace / masonry / sign removal /...

In [82]:
geolocator = Nominatim(user_agent="S080")

In [93]:
location = geolocator.geocode("3301-05 W 111th")

In [95]:
location.address

'111th, Breakers, Pacific County, Washington, 98631, United States'

In [96]:
import googlemaps 
KEY = 'AIzaSyCGp2j105Wm3wZU4tRW6_tWxrOLXxxV0iY'
gmaps = googlemaps.Client(key=KEY)

In [100]:
addy = gmaps.geocode("Moylan Insurance Agency 3301-05 W 111th" + " Chicago IL")

In [101]:
list(addy[0]['geometry']['location'].values())

[41.6923837, -87.6977345]

In [102]:
def f(x):
    address = gmaps.geocode(str(x[0] + " " + str(x[1] + " " + "Chicago IL")))
    if len(address) > 0:
        return list(address[0]['geometry']['location'].values())

In [106]:
df['coords'] = df.apply(f, axis=1)

In [107]:
df.head()

,Company,Address,TIF District,Completion Date,Actual Costs,Actual Grant,Work Items,coords
0,Damen Lake Property LLC (Standard Equipment Co),2033 W Walnut,Kinzie Industrial Corridor Industrial Corridor,2001-02-01T00:00:00.000,83013.00,41506.50,"Truck dock, Skylights, Roof","[41.884892, -87.676659]"
1,Northern Greenhouses Inc,1756 W Lake,Kinzie Industrial Corridor Industrial Corridor,2001-02-08T00:00:00.000,125000.00,50000.00,New Roof,"[41.8854708, -87.67201089999999]"
2,Roger Berman Co,832 W Fulton Market,Kinzie Industrial Corridor Industrial Corridor,2001-10-02T00:00:00.000,98336.70,49168.35,HVAC / Elevator renovate / tuckpointing.,"[41.886912, -87.64895]"
3,Moylan Insurance Agency,3301-05 W 111th,111th/Kedzie,2001-10-18T00:00:00.000,21718.75,10859.38,Roof / Sign removal / Awnings,"[41.6923837, -87.6977345]"
4,Mt Greenwood Local Redevelopment Corp,3255-3257 W 111th,111th/Kedzie,2001-11-08T00:00:00.000,33149.75,16574.87,Window-Door Replace / masonry / sign removal /...,"[41.6895584, -87.7136513]"

In [112]:
def long(x):
    try:
        return x[7][1]
    except:
        return None

def lat(x):
    try:
        return x[7][0]
    except:
        None

In [113]:
df['Longitude'] = df.apply(long, axis=1)
df['Latitude'] = df.apply(lat, axis=1)

In [115]:
cleaned = df.dropna(subset=['Longitude', 'Latitude'])

In [117]:
len(cleaned)

2261

In [118]:
cleaned.to_csv("funding_data.csv")